html {
    margin: 0px;
    height: 100%;
    width: 100%;
 }
 
 body {
    margin: 0px;
    min-height: 100%;
    width: 100%;
 }
.masthead{
    /* display:flex; */
    height: 600px;
    width: 100%;
    position: absolute;
    left:0;
    right:0;
    /* top:0 !important; */
}

.topMenu{
    align-self: flex-start;
}

/* Not Being Used right Now */
.title{
    /* margin-bottom: 200px; */
    font-size: 50px !important;
    z-index: 1 !important;
    /* text-shadow: -1px 0 #2c3e50, 0 1px #2c3e50, 1px 0 #2c3e50, 0 -1px #2c3e50; */
}

.introSegment{
    padding-top: 100px !important;
    padding-bottom: 100px !important;
    top:600px !important;
    background-color: antiquewhite !important;
}

.mongo_background{
    display:inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-image: linear-gradient(
        to right,
        rgb(126,213,111,.5),
        rgb(40,180,133, .5)
    ),
    url(https://cdn.hipwallpaper.com/i/59/10/TbhF6i.jpg); */
    background-image: url('./mongoBanner.jpg');

    background-size: cover;
}
.list{
    margin-top: 10px !important;
}

.home-container{
    /* display:flex; */
    position:absolute;
    height: 100%;
    width: 100%;
    min-height: 100%;
    left:0;
    right:0;
}

/*Not needed right now 
.app_container{
  
    
} */