.title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.content-container{
    position: relative;
    width: 100%;
    height: auto;
}

.list-container{
    margin-top: 20px;

}

.letter_container{
    
    padding: 20px;
}

.questionlist-container{
 margin-top: 20px;   
}

.box{
    border-bottom: 1px solid black;
}

.collapsible_bar_container_closed{
    overflow: hidden;
    cursor: pointer;
    border: solid 1px #05386b;
    border-radius: 10px;
    padding: 15px;
}

.collapsible_bar_container_open{
    overflow: hidden;
    cursor: pointer;
    border: solid 1px #05386b;
    border-radius: 10px 10px 0px 0px;
    padding: 15px;
}

.collapsible_bar_content{
    overflow: hidden;
    cursor: pointer;
    border: solid 1px #05386b;
    border-top: none;
    border-radius: 0px 0px 10px 10px;
    padding: 15px;
    color:  #DEF2F1;
}

.collapsible_bar_content_false{
    background-color: #e74c3c;
}
.collapsible_bar_content_true{
    background-color: #3aafa9;
}

.input{
    border: none;
    border-radius: 10px;
    padding: 15px;
    width: 100%;
    margin:0 auto;
    
}

.question-bar_container{
    width: 70%;
    margin:0 auto;
}

.space{
    margin-top: 10px;
}

.side-button{
    border:none;
    background-color: #3AAFA9;
    width:100%;

}
.side-button:hover{
    cursor: pointer;
}
.collapsible_bar_title{
    color: #DEF2F1;
}
.collapsible_bar_container_closed_false{
    background-color: #e85a4f;
}
.collapsible_bar_container_open_false{
    background-color: #e85a4f;
}
.collapsible_bar_container_closed_true{
    background-color: #3AAFA9;
}
.collapsible_bar_container_open_true{
    background-color: #3AAFA9;
}
.center{
    display: flex;
    justify-content: center;
    text-align: center;
    
    
}

.logo-container{
    margin: 0;
    padding: 0;
}

.noMargin{
    margin: 0;
}

.question_content{
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 15px;
}

.list-style{
    list-style-type: disc;
    margin-left: 28px !important;
}

.list-space{
    margin-bottom: 5px;
}

.warning{
    color: #e85a4f;
    
}

