.list{
    margin-top: 10px !important;
}

.header{
    margin-top: 20px !important;
}

.collapsible_bar_container_closed{
    cursor: pointer;
    border: solid 1px #34495e;
    border-radius: 10px;
    padding: 15px;
}

.collapsible_bar_container_open{
    cursor: pointer;
    border: solid 1px #34495e;
    border-radius: 10px 10px 0px 0px;
    padding: 15px;
}

.collapsible_bar_content{
    cursor: pointer;
    border: solid 1px #34495e;
    border-top: none;
    border-radius: 0px 0px 10px 10px;
    padding: 15px;
}

.container{
    display:flex;
   
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 500px;
    width: 100%;
    position: relative;
    text-align: center;
    text-align: center;
    z-index: 1;
}

.title{
    
    z-index: 1 !important;
}

.mongoDb{
    z-index: -1 !important;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        to right,
        rgb(126,213,111,.5),
        rgb(40,180,133, .5)
    ),
    url("https://cdn.hipwallpaper.com/i/59/10/TbhF6i.jpg");

    background-size: cover;
}

.box{
    border-bottom: 1px solid black;
}

.letter_container{
    display: inline-block !important;
    text-align: center !important;
}